.modalLogin {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}
.modalLogin:target {
  display: block;
  pointer-events: auto;
}
.modalLogin > div {
  width: 450px;
  position: relative;
  margin: 5% auto;
  padding: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
  -moz-box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
  box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
}

.close {
  color: #FFFFFF;
  position: absolute;
  right: -37px;
  text-align: center;
  top: 0;
  width: 17px;
  text-decoration: none;
}

.login-header {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
}

.new-account {
  text-align: center;
  margin-top: 20px;
}

.an-account {
  font-weight: 400;
  font-size: 14px;
  color: #8794a6;
}

.start-free {
  color: #1b9438 !important;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-transform: uppercase;
}

.forgot {
  color: #8794a6;
  font-size: 13px;
  text-decoration: underline;
}

.login-well {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #ff9320;
  margin-bottom: 20px;
}

.modalStartSaving {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}
.modalStartSaving:target {
  display: block;
  pointer-events: auto;
}
.modalStartSaving > div {
  width: 875px;
  position: relative;
  margin: 1% auto;
  padding: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
  -moz-box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
  box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
}

figure.dir-rtl-hidden {
  overflow: hidden;
  margin-right: -30px;
  margin-left: -30px;
}

.new-account a {
  font-weight: 400;
  font-size: 14px;
  color: #8794a6;
  text-decoration: underline;
}

a.login-here {
  color: #1b9438;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
}

.start-saving {
  background-image: url("img/bg-start.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.start-saving-top {
  text-align: center;
  font-size: 42px;
  color: #fff;
  font-weight: 300;
}

strong.green {
  color: #1b9438;
  font-weight: 300;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ededef;
  border: 0;
  padding: 11px 14px;
  font-size: 18px;
  color: #46485b;
  font-weight: 400;
}

.form-group input, .form-group textarea {
  font-size: 15px;
  font-weight: 300;
  color: #bcc3cd;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ededef;
  border: 0;
  padding: 14px;
  font-size: 18px;
  color: #46485b;
  font-weight: 400;
}

.button {
  background: #1b9438;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 17px;
  line-height: 53px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.start-saving-bottom {
  color: #94949a;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

.grn-button {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #1b9438;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 46px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 30px;
}

#start-saving .form-group {
  max-width: 390px;
  margin: auto;
  margin-bottom: 20px;
}
#start-saving .grn-button {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
}

.top-nav-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.top-nav-menu.mob-black {
  background: black;
}
@media (min-width: 768px) {
  .top-nav-menu.mob-black {
    background: transparent;
  }
}
.top-nav-menu.black {
  background: black;
}
@media (min-width: 768px) {
  .top-nav-menu.black {
    background: rgba(0, 0, 0, 0.8);
  }
}
.top-nav-menu.white {
  background: white;
}
@media (min-width: 768px) {
  .top-nav-menu.white {
    background: rgba(255, 255, 255, 0.8);
  }
}
.top-nav-menu.white .nav.navbar-nav li a {
  color: #3f4d5f;
}
.top-nav-menu.white .nav.navbar-nav li a:hover {
  color: #3f4d5f;
  opacity: .8;
}
.top-nav-menu.white .nav.navbar-nav li .dropdown-menu a {
  color: #c4c6d8;
}
.top-nav-menu.white .nav.navbar-nav li .dropdown-menu a:hover {
  color: #fff;
  opacity: 1;
}
.top-nav-menu.white .right .login {
  color: #3f4d5f;
}
.top-nav-menu.white .right .login:hover {
  color: #3f4d5f;
  opacity: .8;
}
@media (min-width: 768px) {
  .top-nav-menu .nav.navbar-nav {
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .top-nav-menu .nav.navbar-nav {
    width: 54%;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .top-nav-menu .nav.navbar-nav {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .top-nav-menu .nav.navbar-nav li.current-item a {
    color: #1b9438;
    border-bottom: 2px #1b9438 solid;
  }
}
@media (min-width: 768px) {
  .top-nav-menu .nav.navbar-nav li a {
    padding: 0 !important;
    margin: 0 5px !important;
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .top-nav-menu .nav.navbar-nav li a {
    margin: 0 12px !important;
    font-size: inherit;
  }
}
@media (min-width: 1200px) {
  .top-nav-menu .nav.navbar-nav li a {
    margin: 0 28px !important;
  }
}
.top-nav-menu .nav.navbar-nav li .dropdown-menu a {
  padding: 7px 12px !important;
}
.top-nav-menu .top {
  min-height: 72px;
  line-height: 70px;
}
.top-nav-menu .top .right {
  text-align: right;
}
.top-nav-menu .top .right .login {
  padding: 10px 15px;
  font-weight: 500;
}
.top-nav-menu .top .right .request-demo {
  background: #1b9438;
  color: #fff;
  padding: 0 30px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
}
.top-nav-menu .nav.navbar-nav .dropdown-menu {
  margin-top: 0;
}
@media (min-width: 768px) {
  .top-nav-menu .navbar-toggle {
    padding: 0 28px !important;
  }
}

/*# sourceMappingURL=front.css.map */
