footer {
  background: #292b3a;
  padding: 25px;
}
footer .top {
  min-height: 70px;
  line-height: 70px;
  margin-bottom: 30px;
}
footer .top .navbar-nav {
  width: 100%;
  position: relative;
}
footer .footer-block1 .block-margin {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  footer .footer-block1 .block-margin {
    margin-bottom: 70px;
  }
}
footer .footer-block1 .block-margin .phone {
  padding: 5px 30px;
  font-weight: 300;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #1e202c;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: 3%;
  box-sizing: border-box;
  line-height: 23px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  footer .footer-block1 .block-margin .phone {
    width: auto;
    display: inline-block;
  }
}
footer .footer-block1 .block-margin .phone.email {
  background-image: none;
}
@media (min-width: 768px) {
  footer .footer-block1 .block-margin .phone.email {
    width: auto;
    display: inline-block;
  }
}
footer .footer-block1 .block-margin .phone.email:after {
  content: "";
  background-image: url("../img/email.png");
  background-size: 18px;
  opacity: 0.6;
  top: 7px;
  left: 20px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
}
footer .footer-block1 .block-margin .phone strong.green {
  color: #1b9438;
  font-weight: 300;
  margin-left: 6px;
}
footer .footer-block2 {
  margin-top: 25px;
  display: inline-block;
}
footer .footer-block2 .footer-text {
  font-size: 13px;
  color: #a0a9b2;
  margin-bottom: 25px;
  font-weight: 300;
}
footer .footer-block2 .soc {
  margin: 0;
  padding: 0;
}
footer .footer-block2 .soc li {
  float: left;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer .footer-block2 .footer-powerd {
  line-height: 25px;
  color: #464962;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .footer-block2 .apps {
  text-align: left;
}
footer .footer-block2 .apps img {
  margin-bottom: 25px;
}
footer #menu-footer a {
  line-height: 50px;
}
@media (min-width: 768px) {
  footer #menu-footer a {
    line-height: 70px;
  }
}

/*# sourceMappingURL=front.css.map */
