.modalLogin {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;

  &:target {
    display: block;
    pointer-events: auto;
  }

  > div {
    width: 450px;
    position: relative;
    margin: 5% auto;
    padding: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
    -moz-box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
    box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
  }
}

.close {
  color: #FFFFFF;
  position: absolute;
  right: -37px;
  text-align: center;
  top: 0;
  width: 17px;
  text-decoration: none;
}

.login-header {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
}

.new-account {
  text-align: center;
  margin-top: 20px;
}

.an-account {
  font-weight: 400;
  font-size: 14px;
  color: #8794a6;
}

.start-free {
  color: #1b9438 !important;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-transform: uppercase;
}

.forgot {
  color: #8794a6;
  font-size: 13px;
  text-decoration: underline;
}

.login-well {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #ff9320;
  margin-bottom: 20px;
}

.modalStartSaving {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
  &:target {
    display: block;
    pointer-events: auto;
  }
  > div {
    width: 875px;
    position: relative;
    margin: 1% auto;
    padding: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
    -moz-box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
    box-shadow: 0 6px 25px rgba(61, 64, 77, 0.35);
  }
}

figure.dir-rtl-hidden {
  overflow: hidden;
  margin-right: -30px;
  margin-left: -30px;
}

.new-account a {
  font-weight: 400;
  font-size: 14px;
  color: #8794a6;
  text-decoration: underline;
}

a.login-here {
  color: #1b9438;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
}


.start-saving {
  background-image: url('img/bg-start.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.start-saving-top {
  text-align: center;
  font-size: 42px;
  color: #fff;
  font-weight: 300;
}

strong.green {
  color: #1b9438;
  font-weight: 300;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ededef;
  border: 0;
  padding: 11px 14px;
  font-size: 18px;
  color: #46485b;
  font-weight: 400;
}

.form-group {
  input, textarea {
    font-size: 15px;
    font-weight: 300;
    color: #bcc3cd;
  }
}

textarea {
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ededef;
  border: 0;
  padding: 14px;
  font-size: 18px;
  color: #46485b;
  font-weight: 400;
}

.button {
  background: #1b9438;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 17px;
  line-height: 53px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.start-saving-bottom {
  color: #94949a;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

.grn-button {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #1b9438;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 46px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 30px;
}

#start-saving{
  .form-group {
    max-width: 390px;
    margin: auto;
    margin-bottom: 20px;
  }

  .grn-button {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
  }
}
