.top-nav-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  &.mob-black {
    background: rgba(0,0,0,1);

    @media (min-width: $screen-sm-min) {
      background: transparent;
    }
  }

  &.black {
    background: rgba(0,0,0,1);

    @media (min-width: $screen-sm-min) {
      background: rgba(0,0,0,.8);
    }
  }

  &.white {
    background: rgba(255,255,255,1);

    @media (min-width: $screen-sm-min) {
      background: rgba(255,255,255,.8);
    }

    .nav.navbar-nav {
      li {
        a {
          color: #3f4d5f;

          &:hover {
            color: #3f4d5f;
            opacity: .8;
          }
        }

        .dropdown-menu {
          a {
            color: #c4c6d8;

            &:hover {
              color: #fff;
              opacity: 1;
            }
          }
        }
      }
    }

    .right .login {
      color: #3f4d5f;

      &:hover {
        color: #3f4d5f;
        opacity: .8;
      }
    }
  }

  .nav.navbar-nav {
    @media (min-width: $screen-sm-min) {
      padding-left: 30px;
    }

    @media (min-width: $screen-md-min) {
      width: 54%;
      padding-left: 0;
    }

    @media (min-width: $screen-lg-min) {
      width: 60%;
    }

    li {
      &.current-item {
        a {
          @media (min-width: $screen-sm-min) {
            color: #1b9438;
            border-bottom: 2px #1b9438 solid;
          }
        }
      }

      a {
        @media (min-width: $screen-sm-min) {
          padding: 0 !important;
          margin: 0 5px !important;
          font-size: 10px;
        }

        @media (min-width: $screen-md-min) {
          margin: 0 12px !important;
          font-size: inherit;
        }

        @media (min-width: $screen-lg-min) {
          margin: 0 28px !important;
        }
      }

      .dropdown-menu {
        a {
          padding: 7px 12px !important;
        }
      }
    }
  }

  .top {
    min-height: 72px;
    line-height: 70px;

    .right {
      text-align: right;

      .login {
        padding: 10px 15px;
        font-weight: 500;
      }

      .request-demo {
        background: #1b9438;
        color: #fff;
        padding: 0 30px;
        display: inline-block;
        text-align: center;
        font-weight: 500;
        line-height: 40px;
        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        border-radius: 21px;
      }
    }
  }

  .nav.navbar-nav {
    .dropdown-menu {
      margin-top: 0;
    }
  }

  .navbar-toggle {
    @media (min-width: $screen-sm-min) {
      padding: 0 28px !important;
    }
  }
}
