.component-com_banner .banner-index {
  width: 100%;
  min-height: 689px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.component-com_banner .banner-index .border-part {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.component-com_banner .banner-index .banner-text {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  margin: 0 0 35px;
}
.component-com_banner .banner-index .banner-text .p-banner-text {
  color: #fff;
  font-size: 32px;
  box-shadow: 0 0 black;
  font-weight: 500;
  max-width: 630px;
  text-align: left;
  line-height: inherit;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .component-com_banner .banner-index .banner-text .p-banner-text {
    font-size: 62px;
    margin-bottom: 55px;
  }
  .component-com_banner .banner-index .banner-text .p-banner-text span.bordered {
    border-bottom: 3px gray dotted;
    padding-bottom: 13px;
  }
}
.component-com_banner .banner-index .banner-text .green-like {
  color: #1b9438;
}
.component-com_banner .banner-index .banner-text .p-point-banner-text {
  color: #656565;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 0;
  word-wrap: break-word;
}
.component-com_banner .banner-index .banner-text .p-description-banner-text {
  font-size: 19px;
  color: #fff;
  font-weight: 300;
  text-align: left;
  line-height: inherit;
}
.component-com_banner .banner-index .banner-text .button-radius {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 75px 12px 57px;
  color: #fff;
  font-weight: 500;
  font-size: 21px;
  background: #1b9438 url(../img/arrow.png) no-repeat 90%;
  margin-top: 50px;
  display: inline-block;
  text-decoration: none;
}
.component-com_banner .banner-index .banner-text .button-radius:hover, .component-com_banner .banner-index .banner-text .button-radius:active, .component-com_banner .banner-index .banner-text .button-radius:focus {
  text-decoration: none;
}
.component-com_banner .banner-index .see {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  display: inline-block;
  text-align: center !important;
  cursor: pointer;
}
.component-com_banner .banner-index .see p {
  color: #fff;
  padding-top: 10px;
}
.component-com_banner .banner-index.layout-small {
  min-height: 545px;
  text-align: center !important;
}
.component-com_banner .banner-index.layout-small .banner-text {
  margin: 0;
}
.component-com_banner .banner-index.layout-small .p-point-banner-text {
  display: none;
}
.component-com_banner .banner-index.layout-small .p-banner-text {
  font-weight: 300;
  font-size: 38px;
  color: #fff;
  min-width: 100%;
  margin-bottom: 30px;
  text-align: center !important;
}
.component-com_banner .banner-index.layout-middle .banner-text {
  margin: 0;
}
.component-com_banner .banner-index.layout-middle .p-point-banner-text {
  display: none;
}
.component-com_banner .banner-index.layout-middle .p-banner-text {
  font-weight: 300;
  color: #fff;
  margin-bottom: 30px;
  max-width: 720px;
  font-size: 23px;
}
@media (min-width: 992px) {
  .component-com_banner .banner-index.layout-middle .p-banner-text {
    font-size: 38px;
  }
}
.component-com_banner .banner-index.layout-middle .p-description-banner-text {
  max-width: 600px;
}
.component-com_banner .modal-dialog {
  margin-top: 120px !important;
}

.component-com_features .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
  line-height: inherit;
  margin-top: 35px;
}
.component-com_features .p-header-desc {
  text-align: center !important;
  font-size: 18px;
  color: #292b3a;
  font-weight: 300;
  display: block;
  margin: 20px 0;
  line-height: inherit;
}
.component-com_features .custom-html {
  margin-bottom: 20px;
}
.component-com_features .custom-html div.divider {
  margin-bottom: 40px;
}
.component-com_features .custom-html p {
  font-size: 18px;
  font-weight: 100;
}
.component-com_features .custom-html h2 {
  font-size: 32px;
  color: #3f4d5f;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: inherit;
}
.component-com_features .p-header-b {
  font-size: 32px;
  color: #3f4d5f;
  margin-bottom: 35px;
  font-weight: 300;
  line-height: inherit;
}
@media (min-width: 992px) {
  .component-com_features .p-header-b {
    margin-top: 40px;
  }
}
.component-com_features .p-description-b {
  font-size: 18px;
  color: #78828f;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: inherit;
}
.component-com_features .p-description-b .sitem {
  margin-bottom: 30px;
}
.component-com_features .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_features figure {
  display: none;
}
@media (min-width: 992px) {
  .component-com_features figure {
    display: block;
    margin: 0;
    padding: 0 50px;
  }
}
.component-com_features figure.dir-rtl {
  direction: rtl;
}
.component-com_features .consolidate {
  border-top: 2px solid #e6e8eb;
}
.component-com_features .suppliers-menu {
  margin-bottom: 70px;
  padding-left: 0;
}
.component-com_features .suppliers-menu li {
  list-style: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9e9e9;
}
.component-com_features .suppliers-menu li .suppliers-weight {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  width: 30px;
  height: 26px;
  text-align: center !important;
}
.component-com_features .suppliers-menu li .suppliers-weight .suppliers-img {
  display: inline-block;
}
.component-com_features .suppliers-menu li p {
  display: inline;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  vertical-align: middle;
}
.component-com_features .suppliers-menu-blue {
  background: #e7f8fe;
  padding: 30px 50px;
  list-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 70px;
}
.component-com_features .suppliers-menu-blue ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.component-com_features .suppliers-menu-blue li {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 300;
}
.component-com_features .suppliers-menu-green {
  background: #d1ead7;
  padding: 30px 50px;
  list-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 70px;
}
.component-com_features .suppliers-menu-green ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.component-com_features .suppliers-menu-green li {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 300;
}
.component-com_features .item .customer-div .company-logo {
  margin-bottom: 25px;
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
}
.component-com_features .item .customer-div .p-description-b-bocata {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 25px;
}
.component-com_features .item .customer-div .icon {
  height: 42px;
  line-height: 42px;
}
.component-com_features .item .customer-div .icon img {
  float: left;
  margin-right: 15px;
  color: #3f4d5f;
  font-weight: 500;
  max-width: 42px;
  max-height: 42px;
  width: auto;
  height: auto;
  border-radius: 80px;
}
.component-com_features .item .customer-div p.autor {
  line-height: 42px;
  font-weight: 500;
}
.component-com_features .btns .smbutton {
  background: #1b9438;
  color: #fff;
  padding: 0 30px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  line-height: 47px;
  border-radius: 0;
}

.component-com_contact_form .start-saving {
  background-color: #64b07a;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.component-com_contact_form .clear {
  clear: both;
  overflow: auto;
  padding: 20px 0;
}
.component-com_contact_form .start-saving-top {
  text-align: center !important;
  font-size: 42px;
  color: #fff;
  font-weight: 300;
}
.component-com_contact_form .start-saving-top .green {
  color: #1b9438;
  font-weight: 300;
}
.component-com_contact_form .description {
  color: #fff;
  font-weight: 300;
  text-align: justify;
  font-size: 17px;
  margin-top: 30px;
}
.component-com_contact_form input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ededef;
  border: 0;
  padding: 14px;
  font-size: 18px;
  color: #46485b;
  font-weight: 400;
  margin-bottom: 15px;
}
.component-com_contact_form input[type="submit"] {
  background: #1b9438;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 17px;
  line-height: 49px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #1b9438;
  padding: 0;
}
.component-com_contact_form .no-bg input[type="submit"] {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 2px;
  background: transparent;
  line-height: 49px;
}
.component-com_contact_form .start-saving-bottom {
  color: #94949a;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

.component-com_logos .mode-slider {
  padding-top: 30px;
  padding-bottom: 15px;
  background: #F7F7F7;
}
.component-com_logos .mode-slider .market-man {
  margin-bottom: 15px;
}
.component-com_logos .mode-slider .slide {
  text-align: center;
}
.component-com_logos .mode-slider .slide .icon {
  max-width: 120px;
  max-height: 70px;
  width: auto !important;
  height: auto;
  margin: 15px 20px;
  display: inline-block;
}
.component-com_logos .mode-slider .synchronization {
  display: inline-block;
  line-height: 42px;
  margin-right: 10px;
}
.component-com_logos .mode-slider .title {
  display: inline-block;
  text-align: center !important;
  color: #3f4d5f;
  font-weight: 300;
  font-size: 30px;
  vertical-align: middle;
}
.component-com_logos .mode-slider .slick-arrow {
  width: 19px;
  height: 15px;
  display: inline-block !important;
  position: absolute;
  top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.component-com_logos .mode-slider .slick-arrow.fa-arrow-left {
  left: 15px;
  background-image: url("../img/arrow-back.png");
}
.component-com_logos .mode-slider .slick-arrow.fa-arrow-right {
  right: 15px;
  background-image: url("../img/arrow-next.png");
}
.component-com_logos .mode-logos .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_logos .mode-logos .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
}
.component-com_logos .mode-logos .m {
  line-height: 112px;
  margin-bottom: 25px;
  display: inline-block;
  text-align: center !important;
  width: 49%;
}
@media (min-width: 768px) {
  .component-com_logos .mode-logos .m {
    width: 33%;
    margin-bottom: 40px;
    max-height: 70px;
    line-height: 70px;
  }
}
@media (min-width: 992px) {
  .component-com_logos .mode-logos .m {
    width: 19%;
  }
}
.component-com_logos .mode-logos .m img {
  max-width: 100%;
  max-height: 100px;
  width: auto !important;
  height: auto;
}

.component-com_block .layout-three .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
  line-height: inherit;
}
.component-com_block .layout-three .p-description {
  text-align: center !important;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  line-height: inherit;
}
.component-com_block .layout-three .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_block .layout-three .block-border {
  border-top: 2px solid #e6e8eb;
  border-bottom: 2px solid #e6e8eb;
  text-align: center;
}
.component-com_block .layout-three .block-center {
  text-align: center !important;
}
.component-com_block .layout-three .block-center .learn-more {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 16px 65px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  background: #1b9438 url(../img/arrow.png) no-repeat 90%;
}
.component-com_block .layout-three .block-center .block-margin {
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .component-com_block .layout-three .block-center .block-margin {
    margin-bottom: 35px;
  }
}
.component-com_block .layout-three .block-center .block-margin.left-content {
  text-align: left;
  margin-bottom: 50px;
}
.component-com_block .layout-three .block-center .block-margin.left-content img {
  width: 100%;
  height: auto;
}
.component-com_block .layout-three .block-center .block-margin.left-content .description {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}
.component-com_block .layout-three .block-center .block-margin .title {
  color: #3f4d5f;
  font-size: 26px;
  padding: 25px 0;
  font-weight: 500;
}
.component-com_block .layout-three .block-center .block-margin .title.type-items {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 300;
}
.component-com_block .layout-three .block-center .block-margin .description {
  color: #3f4d5f;
  font-size: 16px;
}
.component-com_block .layout-three .block-center .block-margin .pg-b-li {
  list-style: none;
}
.component-com_block .layout-three .block-center .block-margin .pg-b-li li {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}
.component-com_block .layout-testimonials .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
  line-height: inherit;
}
.component-com_block .layout-testimonials .p-description {
  text-align: center !important;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  line-height: inherit;
}
.component-com_block .layout-testimonials .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_block .layout-testimonials .block-border {
  border-top: 2px solid #e6e8eb;
  border-bottom: 2px solid #e6e8eb;
  text-align: center;
}
.component-com_block .layout-testimonials .block-center {
  text-align: center;
}
.component-com_block .layout-testimonials .block-center .learn-more {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 16px 65px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  background: #1b9438 url(../img/arrow.png) no-repeat 90%;
}
.component-com_block .layout-testimonials .block-center .block-margin {
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .component-com_block .layout-testimonials .block-center .block-margin {
    margin-bottom: 35px;
  }
}
.component-com_block .layout-testimonials .block-center .block-margin.left-content {
  text-align: left;
  margin-bottom: 50px;
}
.component-com_block .layout-testimonials .block-center .block-margin.left-content img {
  width: 100%;
  height: auto;
}
.component-com_block .layout-testimonials .block-center .block-margin.left-content .description {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}
.component-com_block .layout-testimonials .block-center .block-margin .title {
  color: #3f4d5f;
  font-size: 26px;
  padding: 25px 0;
  font-weight: 500;
}
.component-com_block .layout-testimonials .block-center .block-margin .title.type-items {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 300;
}
.component-com_block .layout-testimonials .block-center .block-margin .description {
  color: #3f4d5f;
  font-size: 16px;
}
.component-com_block .layout-testimonials .block-center .block-margin .pg-b-li {
  list-style: none;
}
.component-com_block .layout-testimonials .block-center .block-margin .pg-b-li li {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}
.component-com_block .layout-vertical .clear {
  clear: both;
  overflow: auto;
  padding: 15px 0;
}
@media (min-width: 992px) {
  .component-com_block .layout-vertical .clear {
    padding: 35px 0;
  }
}
.component-com_block .layout-vertical .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
  line-height: inherit;
}
.component-com_block .layout-vertical .p-description {
  text-align: center !important;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  line-height: inherit;
}
.component-com_block .layout-vertical .how-it-works {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: 0;
}
@media (min-width: 992px) {
  .component-com_block .layout-vertical .how-it-works {
    background-size: contain;
  }
}
.component-com_block .layout-vertical .how-it-works .p-right {
  margin: 0;
}
@media (min-width: 992px) {
  .component-com_block .layout-vertical .how-it-works .p-right {
    margin-right: 80px;
    margin-left: -80px;
  }
}
.component-com_block .layout-vertical .how-it-works .line {
  line-height: 90px;
}
.component-com_block .layout-vertical .how-it-works .line-two {
  line-height: 112px;
}
.component-com_block .layout-vertical .how-it-works .how-it-works-li {
  margin: 0;
  padding: 0;
}
.component-com_block .layout-vertical .how-it-works .how-it-works-li li {
  background-color: #fff;
  margin-top: 15px;
  padding: 25px;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .component-com_block .layout-vertical .how-it-works .how-it-works-li li {
    width: auto;
    text-align: left;
  }
}
.component-com_block .layout-vertical .how-it-works .how-it-works-li li .how-it-works-top {
  color: #28bd8b;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 300;
}
.component-com_block .layout-vertical .how-it-works .how-it-works-li li .how-it-works-bottom {
  color: #78828f;
  font-size: 16px;
  font-weight: 400;
}
.component-com_block .layout-vertical .how-it-works.no-content {
  background-size: cover;
  padding-bottom: 40%;
}
@media (min-width: 768px) {
  .component-com_block .layout-vertical .how-it-works.no-content {
    background-size: inherit;
    height: 325px;
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  .component-com_block .layout-vertical .how-it-works.no-content {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .component-com_block .layout-vertical .how-it-works.no-content {
    height: 490px;
  }
}
.component-com_block .layout-four .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
}
.component-com_block .layout-four .p-description {
  text-align: center !important;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}
.component-com_block .layout-four .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_block .layout-four .block-border {
  border-top: 2px solid #e6e8eb;
  border-bottom: 2px solid #e6e8eb;
  text-align: center !important;
}
.component-com_block .layout-four .block-center {
  text-align: center !important;
}
.component-com_block .layout-four .block-center .learn-more {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 16px 65px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  background: #1b9438 url(../img/arrow.png) no-repeat 90%;
}
.component-com_block .layout-four .block-center .block-margin {
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .component-com_block .layout-four .block-center .block-margin {
    margin-bottom: 35px;
  }
}
.component-com_block .layout-four .block-center .block-margin.left-content {
  text-align: left;
  margin-bottom: 50px;
}
.component-com_block .layout-four .block-center .block-margin.left-content img {
  width: 100%;
  height: auto;
}
.component-com_block .layout-four .block-center .block-margin.left-content .description {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}
.component-com_block .layout-four .block-center .block-margin .title {
  color: #3f4d5f;
  font-size: 26px;
  padding: 25px 0;
  font-weight: 500;
}
.component-com_block .layout-four .block-center .block-margin .title.type-items {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 300;
}
.component-com_block .layout-four .block-center .block-margin .description {
  color: #3f4d5f;
  font-size: 16px;
}
.component-com_block .layout-four .block-center .block-margin .pg-b-li {
  list-style: none;
  padding: 0;
}
.component-com_block .layout-four .block-center .block-margin .pg-b-li li {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}
.component-com_block .layout-imagebottom .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
  line-height: inherit;
}
.component-com_block .layout-imagebottom .p-description {
  text-align: center !important;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  line-height: inherit;
}
.component-com_block .layout-imagebottom .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_block .layout-imagebottom .block-border {
  border-top: 2px solid #e6e8eb;
  border-bottom: 2px solid #e6e8eb;
  text-align: center;
}
.component-com_block .layout-imagebottom .block-center {
  text-align: center !important;
}
.component-com_block .layout-imagebottom .block-center .learn-more {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 16px 65px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  background: #1b9438 url(../img/arrow.png) no-repeat 90%;
}
.component-com_block .layout-imagebottom .block-center .block-margin {
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .component-com_block .layout-imagebottom .block-center .block-margin {
    margin-bottom: 35px;
  }
}
.component-com_block .layout-imagebottom .block-center .block-margin.left-content {
  text-align: left;
  margin-bottom: 50px;
}
.component-com_block .layout-imagebottom .block-center .block-margin.left-content img {
  width: 100%;
  height: auto;
  margin-top: 45px;
}
.component-com_block .layout-imagebottom .block-center .block-margin.left-content .description {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}
.component-com_block .layout-imagebottom .block-center .block-margin .title {
  color: #3f4d5f;
  font-size: 26px;
  padding: 25px 0;
  font-weight: 500;
}
.component-com_block .layout-imagebottom .block-center .block-margin .title.type-items {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 300;
}
.component-com_block .layout-imagebottom .block-center .block-margin .description {
  color: #3f4d5f;
  font-size: 16px;
}
@media (min-width: 992px) {
  .component-com_block .layout-imagebottom .block-center .block-margin .description {
    min-height: 155px;
  }
}
.component-com_block .layout-imagebottom .block-center .block-margin .pg-b-li {
  list-style: none;
  padding: 0;
}
.component-com_block .layout-imagebottom .block-center .block-margin .pg-b-li li {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}

.component-com_hiw .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_hiw .pg-h {
  font-size: 38px;
  font-weight: 300;
  text-align: center !important;
  margin-bottom: 25px;
}
.component-com_hiw .pg-bg-bl {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #f5f5f5;
  padding: 25px;
  margin-bottom: 30px;
}
.component-com_hiw .pg-bg-bl .pg-bg-bl-h {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.component-com_hiw .pg-bg-bl .pg-bg-bl-text {
  color: #78828f;
  font-size: 16px;
  font-weight: 300;
  min-height: 44px;
}
.component-com_hiw .pg-center {
  text-align: center !important;
}
.component-com_hiw .pg-center img {
  max-width: 100%;
}
.component-com_hiw .pg-center .grn-button-2 {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #64b07a;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 20px;
}
.component-com_hiw .button-green-s {
  font-weight: 400;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #1b9438;
  text-align: center;
  font-size: 17px;
  line-height: 46px;
  padding: 10px 50px;
  color: #1b9438;
}

.component-com_pricing .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_pricing .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
  line-height: inherit;
}
.component-com_pricing .p-header-mini {
  text-align: center !important;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  line-height: inherit;
}
.component-com_pricing .toggles-block-center {
  text-align: center !important;
  margin: 50px 0;
}
.component-com_pricing .toggles-block-center .toggles-block-w {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  line-height: 70px;
  vertical-align: text-top;
  display: inline-block;
}
.component-com_pricing .toggles-block-center .toggles-block-w li {
  float: left;
}
.component-com_pricing .toggles-block-center .toggles-block-w li .monthly {
  line-height: 70px;
  vertical-align: top;
  margin-right: 20px;
  color: #1b9438;
  font-weight: 700;
  font-size: 18px;
}
.component-com_pricing .toggles-block-center .toggles-block-w li .Yearly {
  font-size: 18px;
  font-weight: 300;
  color: #78828f;
  margin-left: 20px;
}
.component-com_pricing .toggles-block-center .toggles-block-w li .save {
  vertical-align: text-bottom;
}
.component-com_pricing .toggles-block-center .toggles-block-w li .toggles-block input[type="checkbox"] {
  margin-top: 16px;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #d3d3d3;
  border-radius: 26px;
  box-shadow: inset 0 0 0 1px #d3d3d3;
  cursor: pointer;
  height: 36px;
  position: relative;
  transition: border .25s .15s, box-shadow .25s .3s, padding .25s;
  width: 80px;
  vertical-align: top;
}
.component-com_pricing .toggles-block-center .toggles-block-w li .toggles-block input[type="checkbox"]:after {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 24px;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  content: '';
  display: block;
  height: 35px;
  width: 35px;
  left: 0;
  position: absolute;
  right: 16px;
  top: 0;
  transition: border .25s .15s, left .25s .1s, right .15s .175s;
}
.component-com_pricing .toggles-block-center .toggles-block-w li .toggles-block input[type="checkbox"]:checked {
  border-color: #e8e8e8;
  box-shadow: inset 0 0 0 30px #e8e8e8;
  padding-left: 18px;
  transition: border .25s, box-shadow .25s, padding .25s .15s;
}
.component-com_pricing .toggles-block-center .toggles-block-w li .toggles-block input[type="checkbox"]:checked:after {
  border-color: #e8e8e8;
  left: 47px;
  right: 0;
  transition: border .25s, left .15s .25s, right .25s .175s;
}
.component-com_pricing .pricing-block-one {
  border: 1px solid #bfe6ff;
  padding: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 70px;
}
.component-com_pricing .pricing-block-one .popular-badge {
  position: absolute;
  text-align: center !important;
  top: -13px;
  left: 2px;
  overflow: hidden;
}
.component-com_pricing .pricing-block-one .popular-badge .popular-badge-w {
  background-image: url("../img/new-feature.png");
  width: 176px;
  height: 120px;
  padding: 5px;
  text-transform: uppercase;
  background-repeat: no-repeat;
}
.component-com_pricing .pricing-block-one .pricing-header {
  font-size: 40px;
  font-weight: 300;
  text-align: center !important;
  color: #3f4d5f;
}
.component-com_pricing .pricing-block-one .pricing-menu {
  padding-left: 20px;
}
.component-com_pricing .pricing-block-one .pricing-menu li {
  font-size: 18px;
  font-weight: 300;
  color: #78828f;
}
.component-com_pricing .pricing-block-one .pricing-block-one-p {
  margin-top: 30px;
}
.component-com_pricing .pricing-block-one .pricing-block-one-p p {
  color: #78828f;
  font-size: 18px;
  border-bottom: 1px solid #b1d4ea;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.component-com_pricing .pricing-block-one .pricing-block-one-p p strong.blue {
  float: right;
  color: #129ff9;
  font-weight: 700;
}
.component-com_pricing .pricing-block-one .blue-button {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #129ff9;
  display: block;
  text-align: center !important;
  color: #fff;
  font-size: 17px;
  line-height: 46px;
  font-weight: 400;
  margin-top: 35px;
}
.component-com_pricing .pricing-block-two {
  border: 1px solid #bfe6ff;
  padding: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ecf7ff;
  margin-bottom: 70px;
}
.component-com_pricing .pricing-block-two .most-popular {
  position: absolute;
  text-align: center !important;
  top: -13px;
  left: 2px;
  overflow: hidden;
}
.component-com_pricing .pricing-block-two .most-popular .most-popular-w {
  background-image: url("../img/most-popular.png");
  width: 176px;
  height: 120px;
  padding: 5px;
  text-transform: uppercase;
  background-repeat: no-repeat;
}
.component-com_pricing .pricing-block-two .pricing-header {
  font-size: 40px;
  font-weight: 300;
  text-align: center !important;
  color: #3f4d5f;
}
.component-com_pricing .pricing-block-two .prices {
  font-size: 76px;
  text-align: center !important;
  color: #1b9438;
  font-weight: 400;
}
.component-com_pricing .pricing-block-two .per-location {
  text-align: center !important;
  font-size: 19px;
  color: #3f4d5f;
  margin-bottom: 30px;
}
.component-com_pricing .pricing-block-two .pricing-menu {
  padding-left: 20px;
}
.component-com_pricing .pricing-block-two .pricing-menu li {
  font-size: 18px;
  font-weight: 300;
  color: #78828f;
}
.component-com_pricing .pricing-block-two .green-button {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #1b9438;
  display: block;
  text-align: center !important;
  color: #fff;
  font-size: 17px;
  line-height: 46px;
  font-weight: 400;
  margin-top: 35px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 85%;
}
.component-com_pricing .pricing-block-three {
  border-top: 1px solid #bfe6ff;
  border-left: 1px solid #bfe6ff;
  border-right: 1px solid #bfe6ff;
  padding: 30px;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px;
  border-radius: 6px 6px 0 0;
}
.component-com_pricing .pricing-block-three .special-offer {
  position: absolute;
  text-align: center !important;
  top: -13px;
  left: 2px;
  overflow: hidden;
}
.component-com_pricing .pricing-block-three .special-offer .special-offer-w {
  background-image: url("../img/special-offer.png");
  width: 176px;
  height: 120px;
  padding: 5px;
  text-transform: uppercase;
  background-repeat: no-repeat;
}
.component-com_pricing .pricing-block-three .pricing-header {
  font-size: 40px;
  font-weight: 300;
  text-align: center !important;
  color: #3f4d5f;
}
.component-com_pricing .pricing-block-three .prices {
  font-size: 76px;
  text-align: center !important;
  color: #1b9438;
  font-weight: 400;
}
.component-com_pricing .pricing-block-three .per-location {
  text-align: center !important;
  font-size: 19px;
  color: #3f4d5f;
  margin-bottom: 30px;
}
.component-com_pricing .pricing-block-three .unlimited-invoices {
  text-align: center !important;
  font-size: 19px;
  font-weight: 500;
}
.component-com_pricing .pricing-block-three .auto-pilot {
  text-align: center !important;
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
}
.component-com_pricing .pricing-block-three .inventory {
  text-align: center !important;
  font-weight: 300;
  font-size: 18px;
  color: #78828f;
  margin-top: 20px;
}
.component-com_pricing .pricing-block-three .grn-button {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #1b9438;
  display: block;
  text-align: center !important;
  color: #fff;
  font-size: 17px;
  line-height: 46px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 30px;
}
.component-com_pricing .pricing-block-three-two {
  border-bottom: 1px solid #bfe6ff;
  border-left: 1px solid #bfe6ff;
  border-right: 1px solid #bfe6ff;
  padding: 30px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  margin-bottom: 70px;
}
.component-com_pricing .pricing-block-three-two .pricing-header {
  font-size: 40px;
  font-weight: 300;
  text-align: center !important;
  color: #3f4d5f;
}
.component-com_pricing .pricing-block-three-two .inventory {
  text-align: center !important;
  font-weight: 300;
  font-size: 18px;
  color: #78828f;
  margin-top: 20px;
}
.component-com_pricing .pricing-block-three-two .grn-button {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #1b9438;
  display: block;
  text-align: center !important;
  color: #fff;
  font-size: 17px;
  line-height: 46px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 30px;
}
.component-com_pricing .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
}
.component-com_pricing .pricing-block {
  margin-bottom: 70px;
}
.component-com_pricing .pricing-block .pricing-h {
  font-weight: 500;
  font-size: 22px;
  color: #3f4d5f;
  margin-bottom: 20px;
  line-height: inherit;
}
.component-com_pricing .pricing-block .pricing-d {
  font-size: 18px;
  font-weight: 300;
  color: #78828f;
  line-height: inherit;
}
.component-com_pricing .button-green-s-center {
  text-align: center !important;
  margin-top: 20px;
}
.component-com_pricing .button-green-s-center .button-green-s {
  font-weight: 400;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #1b9438;
  text-align: center !important;
  font-size: 17px;
  line-height: 46px;
  padding: 10px 50px;
  color: #1b9438;
}
.component-com_pricing hr {
  margin: 0;
}

.component-com_contact_us {
  margin-top: 65px;
  position: relative;
}
.component-com_contact_us form div.wpcf7-validation-errors, .component-com_contact_us form div.wpcf7-mail-sent-ok {
  width: 100%;
  float: left;
  color: #000;
  margin: 0;
}
.component-com_contact_us .contact p {
  margin: 35px 0;
  text-align: left;
}
.component-com_contact_us .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center;
  line-height: inherit;
  margin: 30px 0;
}
.component-com_contact_us .col-md-6.right-two {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin-right: -15px;
  display: none;
}
@media (min-width: 992px) {
  .component-com_contact_us .col-md-6.right-two {
    display: block;
  }
}
.component-com_contact_us .col-md-6.right-two .map {
  height: 100%;
}
.component-com_contact_us .form-group input, .component-com_contact_us .form-group textarea {
  font-size: 15px;
  font-weight: 300;
  color: #bcc3cd;
}
.component-com_contact_us .form-group {
  max-width: 480px;
  margin: auto;
  margin-bottom: 10px;
}
.component-com_contact_us .form-group textarea {
  height: 150px;
}
.component-com_contact_us .form-group label {
  margin-bottom: 0;
}
.component-com_contact_us input[type="text"], .component-com_contact_us input[type="email"], .component-com_contact_us input[type="tel"] {
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ededef;
  border: 0;
  padding: 10px 14px;
  font-size: 15px;
  color: #46485b;
  font-weight: 400;
  margin-bottom: 15px;
}
.component-com_contact_us .wpcf7-form-control.wpcf7-submit {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #1b9438;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 46px;
  font-weight: 400;
  margin: 35px auto 30px;
  width: 100%;
  border: 0;
  max-width: 480px;
}

.component-com_testimonials {
  padding-top: 30px;
}
.component-com_testimonials .layout-testimonials .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
  line-height: inherit;
}
.component-com_testimonials .layout-testimonials .p-description {
  text-align: center !important;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  line-height: inherit;
}
.component-com_testimonials .layout-testimonials .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_testimonials .layout-testimonials .block-border {
  border-top: 2px solid #e6e8eb;
  border-bottom: 2px solid #e6e8eb;
  text-align: center;
}
.component-com_testimonials .layout-testimonials .block-center {
  text-align: center;
}
.component-com_testimonials .layout-testimonials .block-center .learn-more {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 16px 65px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  background: #1b9438 url(../img/arrow.png) no-repeat 90%;
}
.component-com_testimonials .layout-testimonials .block-center .block-margin {
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .component-com_testimonials .layout-testimonials .block-center .block-margin {
    margin-bottom: 35px;
  }
}
.component-com_testimonials .layout-testimonials .block-center .block-margin.left-content {
  text-align: left;
  margin-bottom: 50px;
}
.component-com_testimonials .layout-testimonials .block-center .block-margin.left-content img {
  width: 100%;
  height: auto;
}
.component-com_testimonials .layout-testimonials .block-center .block-margin.left-content .description {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}
.component-com_testimonials .layout-testimonials .block-center .block-margin .title {
  color: #3f4d5f;
  font-size: 26px;
  padding: 25px 0;
  font-weight: 500;
}
.component-com_testimonials .layout-testimonials .block-center .block-margin .title.type-items {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 300;
}
.component-com_testimonials .layout-testimonials .block-center .block-margin .description {
  color: #3f4d5f;
  font-size: 16px;
}
.component-com_testimonials .layout-testimonials .block-center .block-margin .pg-b-li {
  list-style: none;
}
.component-com_testimonials .layout-testimonials .block-center .block-margin .pg-b-li li {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}

.component-com_services .mode-slider {
  padding-top: 30px;
  padding-bottom: 15px;
  background: #F7F7F7;
}
.component-com_services .mode-slider .market-man {
  margin-bottom: 15px;
}
.component-com_services .mode-slider .slide {
  text-align: center;
}
.component-com_services .mode-slider .slide .icon {
  max-width: 120px;
  max-height: 70px;
  width: auto !important;
  height: auto;
  margin: 15px 20px;
  display: inline-block;
}
.component-com_services .mode-slider .synchronization {
  display: inline-block;
  line-height: 42px;
  margin-right: 10px;
}
.component-com_services .mode-slider .title {
  display: inline-block;
  text-align: center !important;
  color: #3f4d5f;
  font-weight: 300;
  font-size: 30px;
  vertical-align: middle;
}
.component-com_services .mode-slider .slick-arrow {
  width: 19px;
  height: 15px;
  display: inline-block !important;
  position: absolute;
  top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.component-com_services .mode-slider .slick-arrow.fa-arrow-left {
  left: 15px;
  background-image: url("../img/arrow-back.png");
}
.component-com_services .mode-slider .slick-arrow.fa-arrow-right {
  right: 15px;
  background-image: url("../img/arrow-next.png");
}

.component-com_customers .mode-logos .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.component-com_customers .mode-logos .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center !important;
}
.component-com_customers .mode-logos .m {
  line-height: 112px;
  margin-bottom: 25px;
  display: inline-block;
  text-align: center !important;
  width: 49%;
}
@media (min-width: 768px) {
  .component-com_customers .mode-logos .m {
    width: 33%;
    margin-bottom: 40px;
    max-height: 70px;
    line-height: 70px;
  }
}
@media (min-width: 992px) {
  .component-com_customers .mode-logos .m {
    width: 19%;
  }
}
.component-com_customers .mode-logos .m img {
  max-width: 100%;
  max-height: 100px;
  width: auto !important;
  height: auto;
}

/*# sourceMappingURL=front.css.map */
