.component-com_logos {
  .mode-slider {
    padding-top: 30px;
    padding-bottom: 15px;
    background: #F7F7F7;

    .market-man {
      margin-bottom: 15px;
    }

    .slide {
      text-align: center;

      .icon {
        max-width: 120px;
        max-height: 70px;
        width: auto !important;
        height: auto;
        margin: 15px 20px;
        display: inline-block;
      }
    }

    .synchronization {
      display: inline-block;
      line-height: 42px;
      margin-right: 10px;
    }

    .title {
      display: inline-block;
      text-align: center !important;
      color: #3f4d5f;
      font-weight: 300;
      font-size: 30px;
      vertical-align: middle;
    }

    .slick-arrow {
      width: 19px;
      height: 15px;
      display: inline-block !important;
      position: absolute;
      top: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;

      &.fa-arrow-left {
        left: 15px;
        background-image: url("../img/arrow-back.png");
      }

      &.fa-arrow-right {
        right: 15px;
        background-image: url("../img/arrow-next.png");
      }
    }
  }

  .mode-logos {
    .clear {
      clear: both;
      overflow: auto;
      padding: 35px 0;
    }

    .p-header {
      font-size: 42px;
      color: #3f4d5f;
      font-weight: 300;
      text-align: center !important;
    }

    .m {
      line-height: 112px;
      margin-bottom: 25px;
      display: inline-block;
      text-align: center !important;
      width: 49%;

      @media (min-width: $screen-sm-min) {
        width: 33%;
        margin-bottom: 40px;
        max-height: 70px;
        line-height: 70px;
      }

      @media (min-width: $screen-md-min) {
        width: 19%;
      }

      img {
        max-width: 100%;
        max-height: 100px;
        width: auto !important;
        height: auto;
      }
    }
  }
}
