.component-com_testimonials {
  padding-top: 30px;

  .layout-testimonials {
    .p-header {
      font-size: 42px;
      color: #3f4d5f;
      font-weight: 300;
      text-align: center !important;
      line-height: inherit;
    }

    .p-description {
      text-align: center !important;
      font-size: 18px;
      font-weight: 300;
      margin-top: 20px;
      line-height: inherit;
    }

    .clear {
      clear: both;
      overflow: auto;
      padding: 35px 0;
    }

    .block-border {
      border-top: 2px solid #e6e8eb;
      border-bottom: 2px solid #e6e8eb;
      text-align: center;
    }

    .block-center {
      text-align: center;

      .learn-more {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 16px 65px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        background: #1b9438 url(../img/arrow.png) no-repeat 90%;
      }

      .block-margin {
        margin-bottom: 35px;

        @media (min-width: $screen-md-min) {
          margin-bottom: 35px;
        }

        &.left-content {
          text-align: left;
          margin-bottom: 50px;

          img {
            width: 100%;
            height: auto;
          }

          .description {
            font-size: 16px;
            font-weight: 300;
            text-align: justify;
          }
        }

        .title {
          color: #3f4d5f;
          font-size: 26px;
          padding: 25px 0;
          font-weight: 500;

          &.type-items {
            margin-bottom: 40px;
            font-size: 32px;
            font-weight: 300;
          }
        }

        .description {
          color: #3f4d5f;
          font-size: 16px;
        }

        .pg-b-li {
          list-style: none;

          li {
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e9e9e9;
            text-align: left;
          }
        }
      }
    }
  }
}
