.component-com_customers {
  .mode-logos {
    .clear {
      clear: both;
      overflow: auto;
      padding: 35px 0;
    }

    .p-header {
      font-size: 42px;
      color: #3f4d5f;
      font-weight: 300;
      text-align: center !important;
    }

    .m {
      line-height: 112px;
      margin-bottom: 25px;
      display: inline-block;
      text-align: center !important;
      width: 49%;

      @media (min-width: $screen-sm-min) {
        width: 33%;
        margin-bottom: 40px;
        max-height: 70px;
        line-height: 70px;
      }

      @media (min-width: $screen-md-min) {
        width: 19%;
      }

      img {
        max-width: 100%;
        max-height: 100px;
        width: auto !important;
        height: auto;
      }
    }
  }
}
