.component-com_banner {
  .banner-index {
    width: 100%;
    min-height: 689px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;

    .border-part {
      position: absolute;
      bottom: 50%;
      left: 0;
      right: 0;
      transform: translateY(50%);
      -webkit-transform: translateY(50%);
      -o-transform: translateY(50%);
    }

    .banner-text {
      font-size: 22px;
      color: #fff;
      font-weight: 300;
      margin: 0 0 35px;

      .p-banner-text {
        color: #fff;
        font-size: 32px;
        box-shadow: 0 0 black;
        font-weight: 500;
        max-width: 630px;
        text-align: left;
        line-height: inherit;
        margin-bottom: 30px;

        @media (min-width: $screen-md-min) {
          font-size: 62px;
          margin-bottom: 55px;

          span.bordered {
            border-bottom: 3px gray dotted;
            padding-bottom: 13px;
          }
        }
      }

      .green-like {
        color: #1b9438;
      }

      .p-point-banner-text {
        color: #656565;
        font-size: 24px;
        margin-bottom: 40px;
        line-height: 0;
        word-wrap: break-word;
      }

      .p-description-banner-text {
        font-size: 19px;
        color: #fff;
        font-weight: 300;
        text-align: left;
        line-height: inherit;
      }

      .button-radius {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 12px 75px 12px 57px;
        color: #fff;
        font-weight: 500;
        font-size: 21px;
        background: #1b9438 url(../img/arrow.png) no-repeat 90%;
        margin-top: 50px;
        display: inline-block;
        text-decoration: none;

        &:hover, &:active,  &:focus {
          text-decoration: none;
        }
      }
    }

    .see {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      display: inline-block;
      text-align: center !important;
      cursor: pointer;

      p {
        color: #fff;
        padding-top: 10px;
      }
    }

    &.layout-small {
      min-height: 545px;
      text-align: center !important;

      .banner-text {
        margin: 0;
      }

      .p-point-banner-text {
        display: none;
      }

      .p-banner-text {
        font-weight: 300;
        font-size: 38px;
        color: #fff;
        min-width: 100%;
        margin-bottom: 30px;
        text-align: center !important;
      }
    }

    &.layout-middle {
      .banner-text {
        margin: 0;
      }

      .p-point-banner-text {
        display: none;
      }

      .p-banner-text {
        font-weight: 300;
        color: #fff;
        margin-bottom: 30px;
        max-width: 720px;
        font-size: 23px;

        @media (min-width: $screen-md-min) {
          font-size: 38px;
        }
      }

      .p-description-banner-text {
        max-width: 600px;
      }
    }
  }

  .modal-dialog {
    margin-top: 120px !important;
  }
}
