.component-com_services {
  .mode-slider {
    padding-top: 30px;
    padding-bottom: 15px;
    background: #F7F7F7;

    .market-man {
      margin-bottom: 15px;
    }

    .slide {
      text-align: center;

      .icon {
        max-width: 120px;
        max-height: 70px;
        width: auto !important;
        height: auto;
        margin: 15px 20px;
        display: inline-block;
      }
    }

    .synchronization {
      display: inline-block;
      line-height: 42px;
      margin-right: 10px;
    }

    .title {
      display: inline-block;
      text-align: center !important;
      color: #3f4d5f;
      font-weight: 300;
      font-size: 30px;
      vertical-align: middle;
    }

    .slick-arrow {
      width: 19px;
      height: 15px;
      display: inline-block !important;
      position: absolute;
      top: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;

      &.fa-arrow-left {
        left: 15px;
        background-image: url("../img/arrow-back.png");
      }

      &.fa-arrow-right {
        right: 15px;
        background-image: url("../img/arrow-next.png");
      }
    }
  }
}
