.component-com_contact_form {
  .start-saving {
    background-color: #64b07a;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .clear {
    clear: both;
    overflow: auto;
    padding: 20px 0;
  }

  .start-saving-top {
    text-align: center !important;
    font-size: 42px;
    color: #fff;
    font-weight: 300;

    .green {
      color: #1b9438;
      font-weight: 300;
    }
  }

  .description {
    color: #fff;
    font-weight: 300;
    text-align: justify;
    font-size: 17px;
    margin-top: 30px;
  }

  input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #ededef;
    border: 0;
    padding: 14px;
    font-size: 18px;
    color: #46485b;
    font-weight: 400;
    margin-bottom: 15px;
  }

  input[type="submit"] {
    background: #1b9438;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 17px;
    line-height: 49px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #1b9438;
    padding: 0;
  }

  .no-bg input[type="submit"] {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 2px;
    background: transparent;
    line-height: 49px;
  }

  .start-saving-bottom {
    color: #94949a;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }
}
