.component-com_block {
  .layout-three {
    .p-header {
      font-size: 42px;
      color: #3f4d5f;
      font-weight: 300;
      text-align: center !important;
      line-height: inherit;
    }

    .p-description {
      text-align: center !important;
      font-size: 18px;
      font-weight: 300;
      margin-top: 20px;
      line-height: inherit;
    }

    .clear {
      clear: both;
      overflow: auto;
      padding: 35px 0;
    }

    .block-border {
      border-top: 2px solid #e6e8eb;
      border-bottom: 2px solid #e6e8eb;
      text-align: center;
    }

    .block-center {
      text-align: center !important;

      .learn-more {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 16px 65px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        background: #1b9438 url(../img/arrow.png) no-repeat 90%;
      }

      .block-margin {
        margin-bottom: 35px;

        @media (min-width: $screen-md-min) {
          margin-bottom: 35px;
        }

        &.left-content {
          text-align: left;
          margin-bottom: 50px;

          img {
            width: 100%;
            height: auto;
          }

          .description {
            font-size: 16px;
            font-weight: 300;
            text-align: justify;
          }
        }

        .title {
          color: #3f4d5f;
          font-size: 26px;
          padding: 25px 0;
          font-weight: 500;

          &.type-items {
            margin-bottom: 40px;
            font-size: 32px;
            font-weight: 300;
          }
        }

        .description {
          color: #3f4d5f;
          font-size: 16px;
        }

        .pg-b-li {
          list-style: none;

          li {
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e9e9e9;
            text-align: left;
          }
        }
      }
    }
  }

  .layout-testimonials {
    .p-header {
      font-size: 42px;
      color: #3f4d5f;
      font-weight: 300;
      text-align: center !important;
      line-height: inherit;
    }

    .p-description {
      text-align: center !important;
      font-size: 18px;
      font-weight: 300;
      margin-top: 20px;
      line-height: inherit;
    }

    .clear {
      clear: both;
      overflow: auto;
      padding: 35px 0;
    }

    .block-border {
      border-top: 2px solid #e6e8eb;
      border-bottom: 2px solid #e6e8eb;
      text-align: center;
    }

    .block-center {
      text-align: center;

      .learn-more {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 16px 65px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        background: #1b9438 url(../img/arrow.png) no-repeat 90%;
      }

      .block-margin {
        margin-bottom: 35px;

        @media (min-width: $screen-md-min) {
          margin-bottom: 35px;
        }

        &.left-content {
          text-align: left;
          margin-bottom: 50px;

          img {
            width: 100%;
            height: auto;
          }

          .description {
            font-size: 16px;
            font-weight: 300;
            text-align: justify;
          }
        }

        .title {
          color: #3f4d5f;
          font-size: 26px;
          padding: 25px 0;
          font-weight: 500;

          &.type-items {
            margin-bottom: 40px;
            font-size: 32px;
            font-weight: 300;
          }
        }

        .description {
          color: #3f4d5f;
          font-size: 16px;
        }

        .pg-b-li {
          list-style: none;

          li {
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e9e9e9;
            text-align: left;
          }
        }
      }
    }
  }

  .layout-vertical {
    .clear {
      clear: both;
      overflow: auto;
      padding: 15px 0;

      @media (min-width: $screen-md-min) {
        padding: 35px 0;
      }
    }

    .p-header {
      font-size: 42px;
      color: #3f4d5f;
      font-weight: 300;
      text-align: center !important;
      line-height: inherit;
    }

    .p-description {
      text-align: center !important;
      font-size: 18px;
      font-weight: 300;
      margin-top: 20px;
      line-height: inherit;
    }

    .how-it-works {
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      background-size: 0;

      @media (min-width: $screen-md-min) {
        background-size: contain;
      }

      .p-right {
        margin: 0;

        @media (min-width: $screen-md-min) {
          margin-right: 80px;
          margin-left: -80px;
        }
      }

      .line {
        line-height: 90px;
      }

      .line-two {
        line-height: 112px;
      }

      .how-it-works-li {
        margin: 0;
        padding: 0;

        li {
          background-color: #fff;
          margin-top: 15px;
          padding: 25px;
          display: inline-block;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-box-shadow: 0 15px 25px rgba(0,0,0,.1);
          -moz-box-shadow: 0 15px 25px rgba(0,0,0,.1);
          box-shadow: 0 15px 25px rgba(0,0,0,.1);
          width: 100%;
          text-align: center;

          @media (min-width: $screen-md-min) {
            width: auto;
            text-align: left;
          }

          .how-it-works-top {
            color: #28bd8b;
            font-size: 22px;
            margin-bottom: 15px;
            font-weight: 300;
          }

          .how-it-works-bottom {
            color: #78828f;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }

      &.no-content {
        background-size: cover;
        padding-bottom: 40%;

        @media (min-width: $screen-sm-min) {
          background-size: inherit;
          height: 325px;
          padding-bottom: 0;
        }


        @media (min-width: $screen-md-min) {
          height: 400px;
        }


        @media (min-width: $screen-lg-min) {
          height: 490px;
        }
      }
    }
  }

  .layout-four {
    .p-header {
      font-size: 42px;
      color: #3f4d5f;
      font-weight: 300;
      text-align: center !important;
    }

    .p-description {
      text-align: center !important;
      font-size: 18px;
      font-weight: 300;
      margin-top: 20px;
    }

    .clear {
      clear: both;
      overflow: auto;
      padding: 35px 0;
    }

    .block-border {
      border-top: 2px solid #e6e8eb;
      border-bottom: 2px solid #e6e8eb;
      text-align: center !important;
    }

    .block-center {
      text-align: center !important;

      .learn-more {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 16px 65px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        background: #1b9438 url(../img/arrow.png) no-repeat 90%;
      }

      .block-margin {
        margin-bottom: 35px;

        @media (min-width: $screen-md-min) {
          margin-bottom: 35px;
        }

        &.left-content {
          text-align: left;
          margin-bottom: 50px;

          img {
            width: 100%;
            height: auto;
          }

          .description {
            font-size: 16px;
            font-weight: 300;
            text-align: justify;
          }
        }

        .title {
          color: #3f4d5f;
          font-size: 26px;
          padding: 25px 0;
          font-weight: 500;

          &.type-items {
            margin-bottom: 40px;
            font-size: 32px;
            font-weight: 300;
          }
        }

        .description {
          color: #3f4d5f;
          font-size: 16px;
        }

        .pg-b-li {
          list-style: none;
          padding: 0;

          li {
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e9e9e9;
            text-align: left;
          }
        }
      }
    }
  }

  .layout-imagebottom {
    .p-header {
      font-size: 42px;
      color: #3f4d5f;
      font-weight: 300;
      text-align: center !important;
      line-height: inherit;
    }

    .p-description {
      text-align: center !important;
      font-size: 18px;
      font-weight: 300;
      margin-top: 20px;
      line-height: inherit;
    }

    .clear {
      clear: both;
      overflow: auto;
      padding: 35px 0;
    }

    .block-border {
      border-top: 2px solid #e6e8eb;
      border-bottom: 2px solid #e6e8eb;
      text-align: center;
    }

    .block-center {
      text-align: center !important;

      .learn-more {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 16px 65px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        background: #1b9438 url(../img/arrow.png) no-repeat 90%;
      }

      .block-margin {
        margin-bottom: 35px;

        @media (min-width: $screen-md-min) {
          margin-bottom: 35px;
        }

        &.left-content {
          text-align: left;
          margin-bottom: 50px;

          img {
            width: 100%;
            height: auto;
            margin-top: 45px;
          }

          .description {
            font-size: 16px;
            font-weight: 300;
            text-align: justify;
          }
        }

        .title {
          color: #3f4d5f;
          font-size: 26px;
          padding: 25px 0;
          font-weight: 500;

          &.type-items {
            margin-bottom: 40px;
            font-size: 32px;
            font-weight: 300;
          }
        }

        .description {
          color: #3f4d5f;
          font-size: 16px;

          @media (min-width: $screen-md-min) {
            min-height: 155px;
          }
        }

        .pg-b-li {
          list-style: none;
          padding: 0;

          li {
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e9e9e9;
            text-align: left;
          }
        }
      }
    }
  }
}
