.component-com_features {
  .p-header {
    font-size: 42px;
    color: #3f4d5f;
    font-weight: 300;
    text-align: center !important;
    line-height: inherit;
    margin-top: 35px; 
  }

  .p-header-desc {
    text-align: center !important;
    font-size: 18px;
    color: #292b3a;
    font-weight: 300;
    display: block;
    margin: 20px 0;
    line-height: inherit;
  }

  .custom-html {
    margin-bottom: 20px;

    div.divider {
      margin-bottom: 40px;
    }

    p {
      font-size: 18px;
      font-weight: 100;
    }

    h2 {
      font-size: 32px;
      color: #3f4d5f;
      margin-bottom: 15px;
      font-weight: 300;
      line-height: inherit;
    }
  }

  .p-header-b {
    font-size: 32px;
    color: #3f4d5f;
    margin-bottom: 35px;
    font-weight: 300;
    line-height: inherit;

    @media (min-width: $screen-md-min) {
      margin-top: 40px;
    }
  }

  .p-description-b {
    font-size: 18px;
    color: #78828f;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: inherit;

    .sitem {
      margin-bottom: 30px;
    }
  }

  .clear {
    clear: both;
    overflow: auto;
    padding: 35px 0;
  }

  figure {
    display: none;

    @media (min-width: $screen-md-min) {
      display: block;
      margin: 0;
      padding: 0 50px;
    }

    &.dir-rtl {
      direction: rtl;
    }
  }

  .consolidate {
    border-top: 2px solid#e6e8eb;
  }

  .suppliers-menu {
    margin-bottom: 70px;
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid#e9e9e9;

      .suppliers-weight {
        display: inline-block;
        margin-right: 15px;
        margin-left: 15px;
        width: 30px;
        height: 26px;
        text-align: center !important;

        .suppliers-img {
          display: inline-block;
        }
      }

      p {
        display: inline;
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        vertical-align: middle;
      }
    }
  }

  .suppliers-menu-blue {
    background: #e7f8fe;
    padding: 30px 50px;
    list-style: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 70px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 10px 0;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .suppliers-menu-green {
    background: #d1ead7;
    padding: 30px 50px;
    list-style: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 70px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 10px 0;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .item .customer-div {
    .company-logo {
      margin-bottom: 25px;
      max-width: 40px;
      max-height: 40px;
      width: auto;
      height: auto;
    }

    .p-description-b-bocata {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 25px;
    }

    .icon {
      height: 42px;
      line-height: 42px;

      img {
        float: left;
        margin-right: 15px;
        color: #3f4d5f;
        font-weight: 500;
        max-width: 42px;
        max-height: 42px;
        width: auto;
        height: auto;
        border-radius: 80px;
      }
    }

    p.autor {
      line-height: 42px;
      font-weight: 500;
    }
  }

  .btns {
    .smbutton {
      background: #1b9438;
      color: #fff;
      padding: 0 30px;
      display: inline-block;
      text-align: center;
      font-weight: 500;
      line-height: 47px;
      border-radius: 0;
    }
  }
}
