.component-com_contact_us {
  margin-top: 65px;
  position: relative;

  form div.wpcf7-validation-errors, form div.wpcf7-mail-sent-ok {
    width: 100%;
    float: left;
    color: #000;
    margin: 0;
  }

  .contact p {
    margin: 35px 0;
    text-align: left;
  }

  .p-header {
    font-size: 42px;
    color: #3f4d5f;
    font-weight: 300;
    text-align: center;
    line-height: inherit;
    margin: 30px 0;
  }

  .col-md-6.right-two {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin-right: -15px;
    display: none;

    @media (min-width: $screen-md-min) {
      display: block;
    }

    .map {
      height: 100%;
    }
  }

  .form-group input, .form-group textarea {
    font-size: 15px;
    font-weight: 300;
    color: #bcc3cd;
  }

  .form-group {
    max-width: 480px;
    margin: auto;
    margin-bottom: 10px;

    textarea {
      height: 150px;
    }

    label {
      margin-bottom: 0;
    }
  }

  input[type="text"], input[type="email"], input[type="tel"] {
    box-sizing: border-box;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #ededef;
    border: 0;
    padding: 10px 14px;
    font-size: 15px;
    color: #46485b;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .wpcf7-form-control.wpcf7-submit {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    background-color: #1b9438;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 46px;
    font-weight: 400;
    margin: 35px auto 30px;
    width: 100%;
    border: 0;
    max-width: 480px;
  }
}
