.component-com_hiw {
  .clear {
    clear: both;
    overflow: auto;
    padding: 35px 0;
  }

  .pg-h {
    font-size: 38px;
    font-weight: 300;
    text-align: center !important;
    margin-bottom: 25px;
  }

  .pg-bg-bl {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f5f5f5;
    padding: 25px;
    margin-bottom: 30px;

    .pg-bg-bl-h {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .pg-bg-bl-text {
      color: #78828f;
      font-size: 16px;
      font-weight: 300;
      min-height: 44px;
    }
  }

  .pg-center {
    text-align: center !important;

    img {
      max-width: 100%;
    }

    .grn-button-2 {
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      border-radius: 23px;
      background-color: #64b07a;
      display: block;
      text-align: center;
      color: #fff;
      font-size: 17px;
      line-height: 46px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }

  .button-green-s {
    font-weight: 400;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    border: 1px solid#1b9438;
    text-align: center;
    font-size: 17px;
    line-height: 46px;
    padding: 10px 50px;
    color: #1b9438;
  }
}
