.component-com_pricing {
  .clear {
    clear: both;
    overflow: auto;
    padding: 35px 0;
  }

  .p-header {
    font-size: 42px;
    color: #3f4d5f;
    font-weight: 300;
    text-align: center !important;
    line-height: inherit;
  }

  .p-header-mini {
    text-align: center !important;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    line-height: inherit;
  }

  .toggles-block-center {
    text-align: center !important;
    margin: 50px 0;

    .toggles-block-w {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: auto;
      line-height: 70px;
      vertical-align: text-top;
      display: inline-block;

      li {
        float: left;

        .monthly {
          line-height: 70px;
          vertical-align: top;
          margin-right: 20px;
          color: #1b9438;
          font-weight: 700;
          font-size: 18px;
        }

        .Yearly {
          font-size: 18px;
          font-weight: 300;
          color: #78828f;
          margin-left: 20px;
        }

        .save {
          vertical-align: text-bottom;
        }

        .toggles-block input[type="checkbox"] {
          margin-top: 16px;
          appearance: none;
          background-color: darken(#fff, 2%);
          border: 1px solid #d3d3d3;
          border-radius: 26px;
          box-shadow: inset 0 0 0 1px #d3d3d3;
          cursor: pointer;
          height: 36px;
          position: relative;
          transition: border .25s .15s,
          box-shadow .25s .3s,
          padding .25s;
          width: 80px;
          vertical-align: top;

          &:after {
            background-color: #fff;
            border: 1px solid #d3d3d3;
            border-radius: 24px;
            box-shadow: inset 0 -3px 3px hsla(0,0%,0%,.025),
            0 1px 4px hsla(0,0%,0%,.15),
            0 4px 4px hsla(0,0%,0%,.1);
            content: '';
            display: block;
            height: 35px;
            width: 35px;
            left: 0;
            position: absolute;
            right: 16px;
            top: 0;
            transition: border .25s .15s,
            left .25s .1s,
            right .15s .175s;
          }
          &:checked {
            border-color: #e8e8e8;
            box-shadow: inset 0 0 0 30px #e8e8e8;
            padding-left: 18px;
            transition: border .25s,
            box-shadow .25s,
            padding .25s .15s;

            &:after {
              border-color: #e8e8e8;
              left: 47px;
              right: 0;
              transition: border .25s,
              left .15s .25s,
              right .25s .175s;
            }
          }
        }
      }
    }
  }

  .pricing-block-one {
    border: 1px solid #bfe6ff;
    padding: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 70px;

    .popular-badge {
      position: absolute;
      text-align: center !important;
      top: -13px;
      left: 2px;
      overflow: hidden;

      .popular-badge-w {
        background-image: url('../img/new-feature.png');
        width: 176px;
        height: 120px;
        padding: 5px;
        text-transform: uppercase;
        background-repeat: no-repeat;
      }
    }

    .pricing-header {
      font-size: 40px;
      font-weight: 300;
      text-align: center !important;
      color: #3f4d5f;
    }

    .pricing-menu {
      padding-left: 20px;

      li {
        font-size: 18px;
        font-weight: 300;
        color: #78828f;
      }
    }

    .pricing-block-one-p {
      margin-top: 30px;
    }

    .pricing-block-one-p p {
      color: #78828f;
      font-size: 18px;
      border-bottom: 1px solid #b1d4ea;
      padding-bottom: 10px;
      margin-bottom: 10px;

      strong.blue {
        float: right;
        color: #129ff9;
        font-weight: 700;
      }
    }

    .blue-button {
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      border-radius: 23px;
      background-color: #129ff9;
      display: block;
      text-align: center !important;
      color: #fff;
      font-size: 17px;
      line-height: 46px;
      font-weight: 400;
      margin-top: 35px;
    }
  }

  .pricing-block-two {
    border: 1px solid #bfe6ff;
    padding: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ecf7ff;
    margin-bottom: 70px;

    .most-popular {
      position: absolute;
      text-align: center !important;
      top: -13px;
      left: 2px;
      overflow: hidden;

      .most-popular-w {
        background-image: url('../img/most-popular.png');
        width: 176px;
        height: 120px;
        padding: 5px;
        text-transform: uppercase;
        background-repeat: no-repeat;
      }
    }

    .pricing-header {
      font-size: 40px;
      font-weight: 300;
      text-align: center !important;
      color: #3f4d5f;
    }

    .prices {
      font-size: 76px;
      text-align: center !important;
      color: #1b9438;
      font-weight: 400;
    }

    .per-location {
      text-align: center !important;
      font-size: 19px;
      color: #3f4d5f;
      margin-bottom: 30px;
    }

    .pricing-menu {
      padding-left: 20px;

      li {
        font-size: 18px;
        font-weight: 300;
        color: #78828f;
      }
    }

    .green-button {
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      border-radius: 23px;
      background-color: #1b9438;
      display: block;
      text-align: center !important;
      color: #fff;
      font-size: 17px;
      line-height: 46px;
      font-weight: 400;
      margin-top: 35px;
      background-image: url('../img/arrow.png');
      background-repeat: no-repeat;
      background-position: 85%;
    }
  }

  .pricing-block-three {
    border-top: 1px solid #bfe6ff;
    border-left: 1px solid #bfe6ff;
    border-right: 1px solid #bfe6ff;
    padding: 30px;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px;
    border-radius: 6px 6px 0 0;

    .special-offer {
      position: absolute;
      text-align: center !important;
      top: -13px;
      left: 2px;
      overflow: hidden;

      .special-offer-w {
        background-image: url('../img/special-offer.png');
        width: 176px;
        height: 120px;
        padding: 5px;
        text-transform: uppercase;
        background-repeat: no-repeat;
      }
    }

    .pricing-header {
      font-size: 40px;
      font-weight: 300;
      text-align: center !important;
      color: #3f4d5f;
    }

    .prices {
      font-size: 76px;
      text-align: center !important;
      color: #1b9438;
      font-weight: 400;
    }

    .per-location {
      text-align: center !important;
      font-size: 19px;
      color: #3f4d5f;
      margin-bottom: 30px;
    }

    .unlimited-invoices {
      text-align: center !important;
      font-size: 19px;
      font-weight: 500;
    }

    .auto-pilot {
      text-align: center !important;
      font-weight: 700;
      font-size: 26px;
      margin-top: 20px;
    }

    .inventory {
      text-align: center !important;
      font-weight: 300;
      font-size: 18px;
      color: #78828f;
      margin-top: 20px;
    }

    .grn-button {
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      border-radius: 23px;
      background-color: #1b9438;
      display: block;
      text-align: center !important;
      color: #fff;
      font-size: 17px;
      line-height: 46px;
      font-weight: 400;
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }

  .pricing-block-three-two {
    border-bottom: 1px solid #bfe6ff;
    border-left: 1px solid #bfe6ff;
    border-right: 1px solid #bfe6ff;
    padding: 30px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    margin-bottom: 70px;

    .pricing-header {
      font-size: 40px;
      font-weight: 300;
      text-align: center !important;
      color: #3f4d5f;
    }

    .inventory {
      text-align: center !important;
      font-weight: 300;
      font-size: 18px;
      color: #78828f;
      margin-top: 20px;
    }

    .grn-button {
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      border-radius: 23px;
      background-color: #1b9438;
      display: block;
      text-align: center !important;
      color: #fff;
      font-size: 17px;
      line-height: 46px;
      font-weight: 400;
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }

  .p-header {
    font-size: 42px;
    color: #3f4d5f;
    font-weight: 300;
    text-align: center !important;
  }

  .pricing-block {
    margin-bottom: 70px;

    .pricing-h {
      font-weight: 500;
      font-size: 22px;
      color: #3f4d5f;
      margin-bottom: 20px;
      line-height: inherit;
    }

    .pricing-d {
      font-size: 18px;
      font-weight: 300;
      color: #78828f;
      line-height: inherit;
    }
  }

  .button-green-s-center {
    text-align: center !important;
    margin-top: 20px;

    .button-green-s {
      font-weight: 400;
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      border-radius: 23px;
      border: 1px solid #1b9438;
      text-align: center !important;
      font-size: 17px;
      line-height: 46px;
      padding: 10px 50px;
      color: #1b9438;
    }
  }

  hr {
    margin: 0;
  }
}
