.blog-template-item {
  .article {
    width: 100%;
    min-height: 630px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

    .banner-text-article {
      text-align: center;
      margin-top: 180px;

      .p-description-banner-text-article {
        font-size: 46px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        margin: 40px 0;
        line-height: inherit;
      }

      .botton-article {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: rgba(223, 229, 231, 0.55);
        padding: 9px 15px;
        font-weight: 400;
        font-size: 17px;
        color: #ffffff;
        display: inline-block;
        margin: 5px;
      }
    }
  }

  .article-p p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    margin: 40px 0;
  }

  .info-block {
    font-size: 28px;
    padding-left: 30px;
    border-left: 2px solid#1b9438;
    color: #434f5f;
  }

  .blog-f {
    text-align: center;
    margin-top: 35px;

    .teg {
      background: #e8eaed;
      padding: 5px 25px;
      color: #78828f;
      font-size: 14px;
      font-weight: 300;
      background-image: url('../img/tag.png');
      background-repeat: no-repeat;
      background-position: 5%;
      display: inline-block;
      margin: 5px;
      text-align: center;
    }
  }

  .clear {
    clear: both;
    overflow: auto;
    padding: 35px 0;
  }

  .blog-page {
    margin-bottom: 70px;

    .blog-page-img {
      width: 100%;
    }

    .blog-page-header {
      font-size: 22px !important;
      font-weight: 300 !important;
      margin: 20px 0 !important;
      color: #3f4d5f !important;
      text-align: left !important;
    }

    .blog-page-ctg {
      font-size: 16px !important;
      font-weight: 700 !important;
      color: #78828f !important;
      text-transform: uppercase;
      margin: 0 !important;
    }

    .blog-page-d {
      font-size: 16px !important;
      font-weight: 300 !important;
      color: #78828f !important;
      margin: 25px 0 !important;
      text-align: justify !important;
    }
  }

  .read-more {
    text-transform: uppercase;
    color: #1b9438;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid#1b9438;
    padding: 10px 17px;
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
  }

  .share {
    display: inline-block;
    margin: 15px !important;
    font-size: 16px;
    font-weight: 300;
    color: #78828f;
  }

  p.article-h {
    font-size: 28px;
    font-weight: 500;
    color: #434f5f;
  }

  .article-p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    margin: 40px 0;

    img {
      display: block;
      margin: 20px 0;
      max-width: 100%;
      height: auto;
    }
  }
}
