.blog-template {
  .clear {
    clear: both;
    overflow: auto;
    padding: 35px 0;
  }

  .p-header {
    font-size: 42px;
    color: #3f4d5f;
    font-weight: 300;
    text-align: center;
    line-height: inherit;
  }

  .p-header-mini {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    line-height: inherit;
  }

  .blog-one {
    .blog-one-img {
      position: relative;
      width: 100%;
      margin-bottom: 70px;
    }

    .blog-one-tex {
      position: absolute;
      vertical-align: bottom;
      color: #fff;
      font-weight: 300;
      font-size: 35px;
      text-align: center;
      line-height: normal;
      padding: 35px;
      height: 70%;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .blog-page {
    margin-bottom: 70px;

    .blog-page-img {
      width: 100%;
      height: auto;
    }

    .blog-page-header {
      font-size: 22px !important;
      font-weight: 300 !important;
      margin: 20px 0 !important;
      color: #3f4d5f !important;
      text-align: left !important;
      line-height: inherit;
    }

    .blog-page-ctg {
      font-size: 16px !important;
      font-weight: 700 !important;
      color: #78828f !important;
      text-transform: uppercase;
      margin: 0 !important;
    }

    .blog-page-d {
      font-size: 16px !important;
      font-weight: 300 !important;
      color: #78828f !important;
      margin: 25px 0 !important;
      text-align: justify !important;
      line-height: inherit;
    }

    .read {
      .read-more {
        text-transform: uppercase;
        color: #1b9438;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid#1b9438;
        padding: 10px 23px;
        font-weight: 700;
        display: inline-block;
      }

      .share {
        display: inline-block;
        margin: 15px !important;
        font-size: 16px;
        font-weight: 300;
        color: #78828f;
      }
    }
  }

  .blog-f {
    text-align: center;

    .botton-show {
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      border-radius: 23px;
      background-color: #1b9438;
      text-align: center;
      color: #fff;
      font-size: 17px;
      padding: 10px 30px;
      font-weight: 400;
      margin-top: 35px;
      display: inline-block;
    }
  }

  .teg {
    padding: 5px 25px;
    color: #78828f;
    font-size: 14px;
    font-weight: 300;
    background: #e8eaed url('../img/tag.png') no-repeat 5%;
    display: inline-block;
    margin: 5px;
    text-align: center;
  }

  .start-saving {
    background-image: url('../img/bg-start.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .wpcf7-form-control.wpcf7-submit {
    background: #1b9438;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 17px;
    line-height: 53px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    border: 0;
  }
}
