@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  .rtl-page {
    direction: rtl !important;
    text-align: right !important;

    h1, h2, h3 {
      text-align: right !important;
    }

    .dir-ltr {
      direction: ltr !important;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
    color: #c4c6d8;
    text-decoration: none;
  }

  .clear {
    clear: both;
    overflow: auto;
    padding: 35px 0;
  }

  .clear-new {
    clear: both;
    overflow: auto;
  }

  .clear-no-margin {
    clear: both;
    overflow: auto;
    padding: 0;
  }

  form div.wpcf7-validation-errors, form div.wpcf7-mail-sent-ok {
    width: 100%;
    float: left;
    color: #fff;
  }

  &.page-id-487 {
    .p-header-b {
      margin-top: 0 !important;
    }

    .dir-rtl {
      direction: ltr !important;
    }

    .consolidate {
      border: none;
    }
  }

  .addtoany_shortcode {
    display: inline-block;

    span {
      background-color: #1b9438 !important;
    }
  }
}
