@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body .rtl-page {
  direction: rtl !important;
  text-align: right !important;
}
body .rtl-page h1, body .rtl-page h2, body .rtl-page h3 {
  text-align: right !important;
}
body .rtl-page .dir-ltr {
  direction: ltr !important;
}
body a {
  color: #c4c6d8;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
body .clear-new {
  clear: both;
  overflow: auto;
}
body .clear-no-margin {
  clear: both;
  overflow: auto;
  padding: 0;
}
body form div.wpcf7-validation-errors, body form div.wpcf7-mail-sent-ok {
  width: 100%;
  float: left;
  color: #fff;
}
body.page-id-487 .p-header-b {
  margin-top: 0 !important;
}
body.page-id-487 .dir-rtl {
  direction: ltr !important;
}
body.page-id-487 .consolidate {
  border: none;
}
body .addtoany_shortcode {
  display: inline-block;
}
body .addtoany_shortcode span {
  background-color: #1b9438 !important;
}

.blog-template .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.blog-template .p-header {
  font-size: 42px;
  color: #3f4d5f;
  font-weight: 300;
  text-align: center;
  line-height: inherit;
}
.blog-template .p-header-mini {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  line-height: inherit;
}
.blog-template .blog-one .blog-one-img {
  position: relative;
  width: 100%;
  margin-bottom: 70px;
}
.blog-template .blog-one .blog-one-tex {
  position: absolute;
  vertical-align: bottom;
  color: #fff;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  line-height: normal;
  padding: 35px;
  height: 70%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.blog-template .blog-page {
  margin-bottom: 70px;
}
.blog-template .blog-page .blog-page-img {
  width: 100%;
  height: auto;
}
.blog-template .blog-page .blog-page-header {
  font-size: 22px !important;
  font-weight: 300 !important;
  margin: 20px 0 !important;
  color: #3f4d5f !important;
  text-align: left !important;
  line-height: inherit;
}
.blog-template .blog-page .blog-page-ctg {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #78828f !important;
  text-transform: uppercase;
  margin: 0 !important;
}
.blog-template .blog-page .blog-page-d {
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #78828f !important;
  margin: 25px 0 !important;
  text-align: justify !important;
  line-height: inherit;
}
.blog-template .blog-page .read .read-more {
  text-transform: uppercase;
  color: #1b9438;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #1b9438;
  padding: 10px 23px;
  font-weight: 700;
  display: inline-block;
}
.blog-template .blog-page .read .share {
  display: inline-block;
  margin: 15px !important;
  font-size: 16px;
  font-weight: 300;
  color: #78828f;
}
.blog-template .blog-f {
  text-align: center;
}
.blog-template .blog-f .botton-show {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background-color: #1b9438;
  text-align: center;
  color: #fff;
  font-size: 17px;
  padding: 10px 30px;
  font-weight: 400;
  margin-top: 35px;
  display: inline-block;
}
.blog-template .teg {
  padding: 5px 25px;
  color: #78828f;
  font-size: 14px;
  font-weight: 300;
  background: #e8eaed url("../img/tag.png") no-repeat 5%;
  display: inline-block;
  margin: 5px;
  text-align: center;
}
.blog-template .start-saving {
  background-image: url("../img/bg-start.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.blog-template .wpcf7-form-control.wpcf7-submit {
  background: #1b9438;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 17px;
  line-height: 53px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  border: 0;
}

.blog-template-item .article {
  width: 100%;
  min-height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}
.blog-template-item .article .banner-text-article {
  text-align: center;
  margin-top: 180px;
}
.blog-template-item .article .banner-text-article .p-description-banner-text-article {
  font-size: 46px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 40px 0;
  line-height: inherit;
}
.blog-template-item .article .banner-text-article .botton-article {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(223, 229, 231, 0.55);
  padding: 9px 15px;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  display: inline-block;
  margin: 5px;
}
.blog-template-item .article-p p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin: 40px 0;
}
.blog-template-item .info-block {
  font-size: 28px;
  padding-left: 30px;
  border-left: 2px solid #1b9438;
  color: #434f5f;
}
.blog-template-item .blog-f {
  text-align: center;
  margin-top: 35px;
}
.blog-template-item .blog-f .teg {
  background: #e8eaed;
  padding: 5px 25px;
  color: #78828f;
  font-size: 14px;
  font-weight: 300;
  background-image: url("../img/tag.png");
  background-repeat: no-repeat;
  background-position: 5%;
  display: inline-block;
  margin: 5px;
  text-align: center;
}
.blog-template-item .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.blog-template-item .blog-page {
  margin-bottom: 70px;
}
.blog-template-item .blog-page .blog-page-img {
  width: 100%;
}
.blog-template-item .blog-page .blog-page-header {
  font-size: 22px !important;
  font-weight: 300 !important;
  margin: 20px 0 !important;
  color: #3f4d5f !important;
  text-align: left !important;
}
.blog-template-item .blog-page .blog-page-ctg {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #78828f !important;
  text-transform: uppercase;
  margin: 0 !important;
}
.blog-template-item .blog-page .blog-page-d {
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #78828f !important;
  margin: 25px 0 !important;
  text-align: justify !important;
}
.blog-template-item .read-more {
  text-transform: uppercase;
  color: #1b9438;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #1b9438;
  padding: 10px 17px;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
}
.blog-template-item .share {
  display: inline-block;
  margin: 15px !important;
  font-size: 16px;
  font-weight: 300;
  color: #78828f;
}
.blog-template-item p.article-h {
  font-size: 28px;
  font-weight: 500;
  color: #434f5f;
}
.blog-template-item .article-p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin: 40px 0;
}
.blog-template-item .article-p img {
  display: block;
  margin: 20px 0;
  max-width: 100%;
  height: auto;
}

.testimonials-template-item .article {
  width: 100%;
  min-height: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}
.testimonials-template-item .article .banner-text-article {
  text-align: center;
  margin-top: 180px;
}
.testimonials-template-item .article .banner-text-article .p-description-banner-text-article {
  font-size: 46px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 40px 0;
}
.testimonials-template-item .article .banner-text-article .botton-article {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(223, 229, 231, 0.55);
  padding: 9px 15px;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  display: inline-block;
  margin: 5px;
}
.testimonials-template-item .article-p p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin: 40px 0;
}
.testimonials-template-item .info-block {
  font-size: 28px;
  padding-left: 30px;
  border-left: 2px solid #1b9438;
  color: #434f5f;
}
.testimonials-template-item .blog-f {
  text-align: center;
  margin-top: 35px;
}
.testimonials-template-item .blog-f .teg {
  background: #e8eaed;
  padding: 5px 25px;
  color: #78828f;
  font-size: 14px;
  font-weight: 300;
  background-image: url("../img/tag.png");
  background-repeat: no-repeat;
  background-position: 5%;
  display: inline-block;
  margin: 5px;
  text-align: center;
}
.testimonials-template-item .clear {
  clear: both;
  overflow: auto;
  padding: 35px 0;
}
.testimonials-template-item .blog-page {
  margin-bottom: 70px;
}
.testimonials-template-item .blog-page .blog-page-img {
  width: 100%;
}
.testimonials-template-item .blog-page .blog-page-header {
  font-size: 22px !important;
  font-weight: 300 !important;
  margin: 20px 0 !important;
  color: #3f4d5f !important;
  text-align: left !important;
}
.testimonials-template-item .blog-page .blog-page-ctg {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #78828f !important;
  text-transform: uppercase;
  margin: 0 !important;
}
.testimonials-template-item .blog-page .blog-page-d {
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #78828f !important;
  margin: 25px 0 !important;
  text-align: justify !important;
}
.testimonials-template-item .read-more {
  text-transform: uppercase;
  color: #1b9438;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #1b9438;
  padding: 10px 17px;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
}
.testimonials-template-item .share {
  display: inline-block;
  margin: 15px !important;
  font-size: 16px;
  font-weight: 300;
  color: #78828f;
}
.testimonials-template-item p.article-h {
  font-size: 28px;
  font-weight: 500;
  color: #434f5f;
}
.testimonials-template-item .article-p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin: 40px 0;
}
.testimonials-template-item .article-p img {
  display: block;
  margin: 20px 0;
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=front.css.map */
